## `Actividades preliminares`

Comenzamos importando la libreria de pandas

In [1]:
import pandas as pd

Cargamos el dataset que utilizaran durante la investigacion

In [2]:
crime_scene_report     = pd.read_csv("./_src/datasets/Crime Scene report.csv")
drivers_license        = pd.read_csv("./_src/datasets/Drivers license.csv")
facebook_event_checkin = pd.read_csv("./_src/datasets/facebook_event_checkin.csv")
getfitnow_checkin      = pd.read_csv("./_src/datasets/GetFitNow check in.csv")
getfitnow_members      = pd.read_csv("./_src/datasets/GetFitNow members.csv")
income                 = pd.read_csv("./_src/datasets/income.csv")
interview              = pd.read_csv("./_src/datasets/Interviews.csv")
person                 = pd.read_csv("./_src/datasets/Person.csv")

Veamos un poco como estan conformados estos dataframes

In [3]:
# Usamos .info() para ver una descripcion general del dataset, como sus tipos de datos en cada columna y si presenta nulos
person.info()
#Podes cambiar el dataset para ver la informacion general del que quieras

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10011 entries, 0 to 10010
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   10011 non-null  int64
 1   Name                 10011 non-null  object
 2   License_Id           10011 non-null  int64
 3   Address_Number       10011 non-null  int64
 4   Address_Street_Name  10011 non-null  object
 5   Ssn                  10011 non-null  int64
dtypes: int64(4), object(2)
memory usage: 469.4+ KB

In [4]:
crime_scene_pandas = (crime_scene_report['City'] == 'Pandas City') & (crime_scene_report['Type'] == 'murder')

In [5]:
reportes_filtrados = crime_scene_report[crime_scene_pandas]

In [6]:
reportes_filtrados

,Date,Type,Description,City
676,2018-02-15,murder,REDACTED REDACTED REDACTED,Pandas City
677,2018-02-15,murder,Someone killed the guard! He took an arrow to ...,Pandas City
781,2018-01-15,murder,Security footage shows that there were 2 witne...,Pandas City

In [7]:
reportes_filtrados.iloc[2,2]

'Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".'

### Primer testigo

In [8]:
person.head(1)

,Id,Name,License_Id,Address_Number,Address_Street_Name,Ssn
0,10000,Christoper Peteuil,993845,624,Bankhall Ave,747714076

In [15]:
Northwestern = (person[person['Address_Street_Name'] == 'Northwestern Dr'])

In [16]:
Northwestern

,Id,Name,License_Id,Address_Number,Address_Street_Name,Ssn
2,10010,Muoi Cary,385336,741,Northwestern Dr,828638512
282,12711,Norman Apolito,667757,599,Northwestern Dr,778264744
499,14887,Morty Schapiro,118009,4919,Northwestern Dr,111564949
528,15171,Weldon Penso,336999,311,Northwestern Dr,131379495
811,17729,Lasonya Wildey,439686,3824,Northwestern Dr,917817122
904,18376,Josh Shi,653712,1091,Northwestern Dr,193899001
1021,19420,Cody Schiel,890431,3524,Northwestern Dr,947110049
1338,22239,Dusty Sigafus,710517,1125,Northwestern Dr,724386723
1426,23044,Val Portlock,924989,3143,Northwestern Dr,100593316
1522,23960,Kristopher Lagerberg,658777,1392,Northwestern Dr,492912529
1686,25615,Olevia Morena,388477,812,Northwestern Dr,962831331
1812,26758,Angelena Billman,942074,629,Northwestern Dr,341854756
1981,28360,Rashad Cascone,924517,3212,Northwestern Dr,838907424
2131,29608,Willetta Lurvey,800568,1028,Northwestern Dr,843751378
2535,33415,Homer Simpson,108392,981,Northwestern Dr,871392019
2620,34155,Allyson Lazenson,814209,2840,Northwestern Dr,991150469
2635,34352,Vincenza Burkhardt,436470,2512,Northwestern Dr,197913046
2871,36378,Freddie Ellzey,267882,3449,Northwestern Dr,474117596
3237,39688,Abe Roeker,537445,689,Northwestern Dr,438969447
3316,40336,Fredia Billeter,251082,404,Northwestern Dr,108056488
3368,40760,Renata Faver,976650,745,Northwestern Dr,547572040
3743,44004,Alison Eska,327797,2951,Northwestern Dr,306417867
3795,44542,Ivory Mcgrevey,873842,897,Northwestern Dr,988557407
4595,51114,Christena Saffell,814284,3055,Northwestern Dr,247657547
4643,51552,Bonita Knie,764124,1726,Northwestern Dr,597137908
4806,53076,Boris Bijou,664914,3327,Northwestern Dr,401191868
4871,53699,Christian Pagano,628433,2585,Northwestern Dr,644772304
4886,53890,Sophie Tiberio,957671,3755,Northwestern Dr,442830147
4956,54564,Sammie Sengun,217286,2590,Northwestern Dr,848854310
5024,55130,Shiloh Huntoon,472118,951,Northwestern Dr,826647644
5450,59307,Cyril Yongue,753524,2903,Northwestern Dr,866057839
6476,68690,Yer Modest,852404,3046,Northwestern Dr,419238039
6698,70485,Andera Kostelecky,354822,1252,Northwestern Dr,787423012
6865,71924,Laurie Scronce,774116,1418,Northwestern Dr,254883636
6877,72076,Courtney Bordeaux,324614,1707,Northwestern Dr,347966356
7040,73368,Torie Thalmann,773862,3697,Northwestern Dr,341559436
7296,75484,Del Tacderen,447887,607,Northwestern Dr,243821337
7888,80921,Donovan Yackley,222395,2386,Northwestern Dr,515049359
7902,81052,Calvin Czelusniak,471483,1516,Northwestern Dr,657531837
7993,81885,Kurtis Masuda,934201,2108,Northwestern Dr,201272595
8369,85280,Donn Duin,569122,540,Northwestern Dr,613873810
8608,87456,Leonora Wolfsberger,215868,3483,Northwestern Dr,565203106
8720,88423,Teri Ehrich,510876,1879,Northwestern Dr,248637345
8888,89906,Kinsey Erickson,510019,309,Northwestern Dr,635287661
8939,90397,Dionna Kranwinkle,797260,2678,Northwestern Dr,278964807
9272,93509,Emmitt Aceuedo,916706,3491,Northwestern Dr,979073160
9569,96178,Galina Khuu,450248,2183,Northwestern Dr,398518185
9609,96595,Coretta Cubie,303645,3631,Northwestern Dr,378403829
9841,98593,Jonah Toner,578982,2947,Northwestern Dr,745853548
9991,99826,Ivy Kazarian,994470,892,Northwestern Dr,208359813

In [17]:
Northwestern['Address_Number'].max()

4919

In [23]:
tes1 = Northwestern[(Northwestern['Address_Number'] == 4919)]

In [24]:
tes1

,Id,Name,License_Id,Address_Number,Address_Street_Name,Ssn
499,14887,Morty Schapiro,118009,4919,Northwestern Dr,111564949

### Búsqueda testigo 2

In [26]:
filtro = person[person['Name'].str.contains('Annabel')]

In [27]:
filtro

,Id,Name,License_Id,Address_Number,Address_Street_Name,Ssn
665,16371,Annabel Miller,490173,103,Franklin Ave,318771143
7601,78354,Annabell Siona,158932,978,Whitewater Dr,800278294
7650,78799,Annabell Droneburg,984316,1944,W Natalie Dr,478793500
8509,86541,Annabell Zwilling,709133,1859,Patti Rd,332961158

In [28]:
tes2 = filtro[filtro["Address_Street_Name"] == "Franklin Ave"]

In [29]:
tes2

,Id,Name,License_Id,Address_Number,Address_Street_Name,Ssn
665,16371,Annabel Miller,490173,103,Franklin Ave,318771143

### Concatenar Testigos

In [33]:
testigos_crimen = pd.concat([tes1,tes2])

In [34]:
testigos_crimen

,Id,Name,License_Id,Address_Number,Address_Street_Name,Ssn
499,14887,Morty Schapiro,118009,4919,Northwestern Dr,111564949
665,16371,Annabel Miller,490173,103,Franklin Ave,318771143

### Revisión de entrevistas

In [30]:
interview

      Person_Id                                         Transcript
0         63713                                                NaN
1         33856                                                NaN
2         82799                                                NaN
3         54206                                                NaN
4         34615                                                NaN
...         ...                                                ...
4986      37357  Alice did not wish to offend the Dormouse agai...
4987      10206  time,’ she said, ‘than waste it in asking ridd...
4988      14887  I heard a gunshot and then saw a man run out. ...
4989      16371  I saw the murder happen, and I recognized the ...
4990      67318  I was hired by a woman with a lot of money. I ...

[4991 rows x 2 columns]

### Merge de interview con person

In [36]:
merged_df = pd.merge(interview, testigos_crimen, left_on='Person_Id', right_on='Id')

In [37]:
merged_df

,Person_Id,Transcript,Id,Name,License_Id,Address_Number,Address_Street_Name,Ssn
0,14887,I heard a gunshot and then saw a man run out. ...,14887,Morty Schapiro,118009,4919,Northwestern Dr,111564949
1,16371,"I saw the murder happen, and I recognized the ...",16371,Annabel Miller,490173,103,Franklin Ave,318771143

---

## `Comenzamos la investigacion`

### Un crimen ha ocurrido y el detective necesita tu ayuda.

#### Pero antes, veamos un diagrama de esquema para ver como estan conectados todos los dataframes

<img src="./_src/schemeboard.png">


### Te entregaron el informe del lugar del crimen, pero de alguna manera lo perdiste. Recordas vagamente que el crimen fue un ​asesinato​ que ocurrió en algún momento el ​15 de enero de 2018​ y que tuvo lugar en ​Pandas City​. **Te recomiendo comenzar por recuperar el informe correspondiente de su respectivo dataframe**

## Si creen que encontraron al asesino, ejecuten el siguiente codigo con el posible sospechoso

 Por favor, tene en cuenta que es recomendable no acceder al archivo "asesino.py" para evitar revelar detalles importantes de la caso. Si deseas disfrutar plenamente de la experiencia sin spoilers, te sugiero que evites examinar dicho archivo."

In [ ]:
from asesino import solucion
solucion("Colocar aca el nombre del sospechoso")